@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import './my-theme.scss'; */

html, body {
    height: auto;
    width: auto;
    margin: 0%;
}

body {
    margin: 0%;
    font-family: Source Sans Pro, Roboto, Arial, sans-serif;
}