<p>message-list works!</p>


<div>
    <button mat-raised-button color="success">Success</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
  </div>
  <br />
  <!-- <section >
    <mat-checkbox>Checked</mat-checkbox>
    <mat-checkbox  >Indeterminate</mat-checkbox>
  </section>
  <br />
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
  <br /> <br />
  <mat-divider></mat-divider> -->
  <section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <!-- <mat-divider></mat-divider> -->
  <ol>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>What's your name?</mat-label>
        <input matInput>
      </mat-form-field>
    </li>
  </ol>
  
  